<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    
    <title>Sports Final App</title>
    
    <!--My Style Sheet-->
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/stylesheet.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script> 
    
  </head>
  
  <body>

  <div class="top"> 
   <div class = "navigation">
    <a href="/" class="navTitle" style ="font-family: 'Righteous'">Talk Sports To Me</a>
    <a href="/football" class="nav1 firstNav">Football</a>
    <a href="/basketball" class="nav1">Basketball</a>
    <a href="/hockey" class="nav1">Hockey</a>
    <a href="/baseball" class="nav1">Baseball</a>
    <a href="/soccer" class="nav1">Soccer</a>
   </div>
 </div>


    {{{body}}}

    
  </body>
</html>