<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    
    <title>Sports Final App</title>
    
    <!--My Style Sheet-->
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/stylesheet.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script> 
    
  </head>
  
  <body>

  <div class="top"> 
   <div class = "navigation">
    <a href="/football">Football</a>
    <a href="/basketball">Basketball</a>
    <a href="/hockey">Hockey</a>
    <a href="/baseball">Baseball</a>
    <a href="/soccer">Soccer</a>
   </div>
 </div>


    {{{body}}}

    
  </body>
</html>