 <div class="inner-navigation">
    <a href="/baseball/faq" class="inner-nav-a">FAQ</a>
    <a href="/baseball/term" class="inner-nav-a">Terms</a>
    <a href="/baseball/hot_guys" class="inner-nav-a">Hot Guys</a>
    <a href="/baseball/team" class="inner-nav-a">List of Teams</a>
    <a href="/baseball/news" class="inner-nav-a">Baseball News</a>
</div>