 <div class="inner-navigation">
    <a href="/baseball/faq">FAQ</a>
    <a href="/baseball/term">Terms</a>
    <a href="/baseball/hot_guys">Hot Guys</a>
    <a href="/baseball/team">List of Teams</a>
    <a href="/espn">ESPN Sports</a>
    <a href="/tmz">TMZ News</a>
</div>