 <div class="inner-navigation">
    <a href="/basketball/faq">FAQ</a>
    <a href="/basketball/term">Terms</a>
    <a href="/basketball/hot_guys">Hot Guys</a>
    <a href="/basketball/team">List of Teams</a>
    <a href="/espn">ESPN Sports</a>
    <a href="/tmz">TMZ News</a>
</div>