 <div class="inner-navigation">
    <a href="/basketball/faq" class="inner-nav-a">FAQ</a>
    <a href="/basketball/term" class="inner-nav-a">Terms</a>
    <a href="/basketball/hot_guys" class="inner-nav-a">Hot Guys</a>
    <a href="/basketball/team" class="inner-nav-a">List of Teams</a>
    <a href="/basketball/news" class="inner-nav-a">Basketball News</a>
</div>