 <div class="inner-navigation">
    <a href="/football/faq">FAQ</a>
    <a href="/football/term">Terms</a>
    <a href="/football/hot_guys">Hot Guys</a>
    <a href="/football/team">List of Teams</a>
    <a href="/espn">ESPN Sports</a>
    <a href="/tmz">TMZ News</a>
</div>