 <div class="inner-navigation">
    <a href="/football/faq" class="inner-nav-a">FAQ</a>
    <a href="/football/term" class="inner-nav-a">Terms</a>
    <a href="/football/hot_guys" class="inner-nav-a">Hot Guys</a>
    <a href="/football/team" class="inner-nav-a">List of Teams</a>
    <a href="/football/news" class="inner-nav-a">Football News</a>
</div>