 <div class="inner-navigation">
    <a href="/hockey/faq">FAQ</a>
    <a href="/hockey/term">Terms</a>
    <a href="/hockey/hot_guys">Hot Guys</a>
    <a href="/hockey/team">List of Teams</a>
    <a href="/espn">ESPN Sports</a>
    <a href="/tmz">TMZ News</a>
</div>