 <div class="inner-navigation">
    <a href="/hockey/faq" class="inner-nav-a">FAQ</a>
    <a href="/hockey/term" class="inner-nav-a">Terms</a>
    <a href="/hockey/hot_guys" class="inner-nav-a">Hot Guys</a>
    <a href="/hockey/team" class="inner-nav-a">List of Teams</a>
    <a href="/hockey/news" class="inner-nav-a">Hockey News</a>
</div>