 <div class="inner-navigation">
    <a href="/soccer/faq" class="inner-nav-a">FAQ</a>
    <a href="/soccer/term" class="inner-nav-a">Terms</a>
    <a href="/soccer/hot_guys" class="inner-nav-a">Hot Guys</a>
    <a href="/soccer/team" class="inner-nav-a">List of Teams</a>
    <a href="/soccer/news" class="inner-nav-a">Soccer News</a>

</div>