<div id="firstViewHtml">

	<div class="background-image">
	</div>

	<div class="firstBtView">
		<h1 class="firstViewTitle">Talk Sports To Me</h1>
		<p class="firstViewAbout">
			A one stop shop. Everything important you need to know about sports through one site.<br> (This one) 
		</p>

		<div class="container">
			<div class="single box">
				<a href="/football">
					<img src="http://cbssports.com/images/blogs/eof-tebow3.jpg" style ="width: 275px; height: 225px;">
				</a>
				<a href ="/football">	
				<p>Football</p>
			</a>
			</div>

			<div class="single box">
				<a href="/basketball">
					<img src="http://www.sportzin.com/forums/uploads/images/1353270628-U10903.png" style ="width: 275px; height: 225px;">
				</a>
				<a href="/basketball">
					<p>Basketball</p>
				</a>
			</div>

			<div class="single box">
				<a href="/hockey">
					<img src="http://wpmedia.o.canada.com/2014/03/480250461_31167305.jpg?w=680" style ="width: 275px; height: 225px;">
				</a>
				<a href="/hockey">
					<p>Hockey</p>
				</a>
			</div>

			<div class="single box">
				<a href="/baseball">
					<img src="http://img.bleacherreport.net/img/images/photos/002/934/196/cdf602377a78f37ee8d0da4c96bd9589_crop_north.jpg?w=630&h=420&q=75" style ="width: 275px; height: 225px;">
				</a>
				<a href="/baseball">	
					<p>Baseball</p>
				</a>
			</div>

			<div class="single box">
				<a href = "/soccer">
					<img src="http://specials-images.forbesimg.com/imageserve/480470992/640x0.jpg?fit=scale" style ="width: 275px; height: 225px;">
				</a>
				<a href="/soccer">
					<p>Soccer</p>
				</a>
			</div>
		</div>
	</div>

</div>
